# Assignment 1: Job Market Analysis

## Part 1 - Data Preperation and Preprocesing

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Importing data
df = pd.read_csv("data.csv", low_memory=False)

In [3]:
# Display head of the data
df.head()

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN

In [4]:
# Display the shape of the dataset
df.shape

(318477, 13)

In [5]:
# Display the datatypes of each column
df.dtypes

Id                   object
Title                object
Company              object
Date                 object
Location             object
Area                 object
Classification       object
SubClassification    object
Requirement          object
FullDescription      object
LowestSalary          int64
HighestSalary         int64
JobType              object
dtype: object

In [6]:
# Check for duplicates and display them
df[df.duplicated()].shape[0]
# df.drop_duplicates(inplace=True)

0

In [7]:
# Check for null values and display them
df.isnull().sum()

Id                        0
Title                     0
Company               12004
Date                      0
Location             121248
Area                 195819
Classification       121248
SubClassification    121248
Requirement               7
FullDescription       16175
LowestSalary              0
HighestSalary             0
JobType               16098
dtype: int64

In [8]:
# Changing date datatype
df['Date'] = df['Date'].astype('datetime64[ns]')

In [9]:
# Changing Id datatype

# Some IDs have not been entered correctly, eg: '37915260&searchrequesttoken=e859cc74-e22f-498d-ac7c-77a7e1b45676'
# Need to trim the first 8 characters before converting to int

df['Id'] = df['Id'].str[:8].astype('int64')

In [10]:
# How many jobs have lowest salary equal to $0?
df[(df['LowestSalary'] == 0)].shape[0]

62639

In [11]:
# How many jobs have highest salary equal to $999k?
df[(df['HighestSalary'] == 999)].shape[0]

11411

In [12]:
# Change 'lowest salaries' that are 0 to NaN and 'highest salaries' that are 999 to NaN

df['LowestSalary'].replace({0: np.nan}, inplace=True)
df['HighestSalary'].replace({999: np.nan}, inplace=True)
df['LowestSalary'] = df['LowestSalary'] * 1000
df['HighestSalary'] = df['HighestSalary'] * 1000

# Convert columns back to numpy ints to account for the NaN values
df['LowestSalary'] = df['LowestSalary'].astype('Int64')
df['HighestSalary'] = df['HighestSalary'].astype('Int64')
df

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,NaN,30000,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,NaN,30000,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,NaN,30000,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,NaN,30000,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,NaN,30000,NaN
5,37404307,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,NaN,30000,NaN
6,37404355,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,NaN,30000,NaN
7,37404350,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,NaN,30000,NaN
8,37404301,Telemarketer,Reventon Investments,2018-10-07,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,NaN,30000,NaN
9,37404286,Casual Dish Hand in Brighton,Jora Local,2018-10-07,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,NaN,30000,NaN
10,37404333,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Banking & Financial Services,Banking - Retail/Branch,We currently have an exciting part-time opport...,NaN,NaN,30000,NaN
11,37404235,Customer Service Client Nurturer,NaN,2018-10-07,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Customer Service - Customer Facing,"Immediate start - We love our clients, it's yo...",NaN,NaN,30000,NaN
12,37404341,Functions Supervisor - Perth Zoo,Mustard Catering,2018-10-07,Perth,NaN,Hospitality & Tourism,Bar & Beverage Staff,Casual Food and Beverage Supervisor,NaN,NaN,30000,NaN
13,37404335,BPV_Utility All Rounders_Casual,ISS Facility Services,2018-10-07,Mackay & Coalfields,NaN,Hospitality & Tourism,Housekeeping,An exciting opportunity exists for Casual DIDO...,NaN,NaN,30000,NaN
14,37404250,Casual Cleaner in Kew,Jora Local,2018-10-07,Melbourne,Eastern Suburbs,Hospitality & Tourism,Housekeeping,A restaurant in Kew is seeking a casual Cleane...,NaN,NaN,30000,NaN
15,37404259,Customer Service Officer,NaN,2018-10-07,Sunshine Coast,NaN,Call Centre & Customer Service,Customer Service - Call Centre,An opportunity for a customer service-focused ...,NaN,NaN,30000,NaN
16,37404332,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Retail & Consumer Products,Retail Assistants,We currently have an exciting part-time opport...,NaN,NaN,30000,NaN
17,37404280,Maintenance Assistant Part-Time,Costco Wholesale,2018-10-07,Melbourne,Eastern Suburbs,Retail & Consumer Products,Other,Provides janitorial services and general maint...,NaN,NaN,30000,NaN
18,37404266,Telstra Retail Sales & Service Consultant - Ca...,TLS Airport West,2018-10-07,Melbourne,Western Suburbs,Retail & Consumer Products,Retail Assistants,A great opportunity to join the retail team at...,NaN,NaN,30000,NaN
19,37404247,Assembler,Zoom Recruitment & Training,2018-10-07,Sydney,Parramatta & Western Suburbs,"Manufacturing, Transport & Logistics",Assembly & Process Work,"Our Client, located in Sydney West, has roles ...",NaN,NaN,30000,NaN
20,37404300,Procurement Officer,Perspective Recruitment,2018-10-07,Melbourne,Northern Suburbs,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",The role would be ideal for one that has a nat...,NaN,NaN,30000,NaN
21,37404239,Casual Barista in Murarrie,Jora Local,2018-10-07,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Bar & Beverage Staff,A cafe in Murarrie is seeking a casual Barista...,NaN,NaN,30000,NaN
22,37404346,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Banking & Financial Services,Banking - Retail/Branch,We currently have an exciting full time opport...,NaN,NaN,30000,NaN
23,37404221,Casual Barista in Richmond,Jora Local,2018-10-07,Melbourne,CBD & Inner Suburbs,Hospitality & Tourism,Bar & Beverage Staff,A cafe in Richmond is seeking a casual Barista...,NaN,NaN,30000,NaN
24,37404334,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07,Adelaide,NaN,Sales,Sales Representatives/Consultants,We currently have an exciting part-time opport...,NaN,NaN,30000,NaN
25,37404209,Casual Cook in Palm Beach,Jora Local,2018-10-07,Gold Coast,NaN,Hospitality & Tourism,Chefs/Cooks,A cafe/restaurant in Palm Beach is seeking a c...,NaN,NaN,30000,NaN
26,37404396,Clinical Document Processing and Quality Assur...,West Moreton Hospital and Health Service,2018-10-07,Brisbane,Western Suburbs & Ipswich,Administration & Office Support,Records Management & Document Control,administrative and systems support in relation...,NaN,NaN,30000,NaN
27,37404311,Investment Accountant - NAB Asset Servicing,National Australia Bank,2018-10-07,Sydney,"CBD, Inner West & Eastern Suburbs",Banking & Financial Services,Analysis & Reporting,Entry level opportunity in Investment Accounti...,NaN,NaN,30000,NaN
28,37404175,Casual Cook in Melbourne,Jora Local,2018-10-07,Melbourne,CBD & Inner Suburbs,Hospitality & Tourism,Chefs/Cooks,A business in Melbourne is seeking a casual Co...,NaN,NaN,30000,NaN
29,37404198,Office Administrator - 4 days per week,Accountancy Connect,2018-10-07,Melbourne,Bayside & South Eastern Suburbs,Administration & Office Support,Office Management,Wonderful role based in Cheltenham. Four days ...,NaN,NaN,30000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318447,38556050,General Manager,Southern Cross Austereo,2019-03-12,NaN,NaN,NaN,NaN,One-of-a-kind career move for a transformation...,NaN,120000,150000,NaN
318448,38543299,Project Officer | GRAFTON,Complete Staff Solutions Pty Ltd,2019-03-11,NaN,NaN,NaN,NaN,This is a temporary contract assignment with f...,NaN,120000,150000,NaN
318449,38560868,National Business Manager: Bunnings,SearchWorks Pty Ltd,2019-03-13,NaN,NaN,NaN,NaN,"Established Global Brand, $60million+ Portfoli...",NaN,120000,150000,NaN
318450,38555890,General Manager,Southern Cross Austereo,2019-03-12,NaN,NaN,NaN,NaN,One-of-a-kind career move for a transformation...,NaN,120000,150000,NaN
318451,38534622,Warehouse Assistant - Indigenous Identified Role,Programmed Skilled Workforce,2019-03-08,NaN,NaN,NaN,NaN,Programmed Skilled Workforce are currently see...,NaN,120000,150000,NaN
318452,38559478,Procurement Officer,Kinexus,2019-03-13,NaN,NaN,NaN,NaN,If you are interested in working on a large sc...,NaN,120000,150000,NaN
318453,38531136,Career Management Consultant,ManpowerGroup,2019-03-08,NaN,NaN,NaN,NaN,•\tGlobal Organisation\n•\tInnovative Solution...,NaN,120000,150000,NaN
318454,38559649,Administration Manager,Whipper Recruitment,2019-03-13,NaN,NaN,NaN,NaN,Excellent opportunity to work at a Senior Admi...,NaN,120000,150000,NaN
318455,38559400,General Manager of Operations & Customer Exper...,Foxtel Management Pty Limited,2019-03-13,NaN,NaN,NaN,NaN,Support our Distribution Partnerships Team to ...,NaN,120000,150000,NaN
318456,38559402,General Manager of Operations & Customer Exper...,Foxtel Management Pty Limited,2019-03-13,NaN,NaN,NaN,NaN,Support our Distribution Partnerships Team to ...,NaN,120000,150000,NaN
318457,38558047,Long Term Rail Work Opportunities - Karratha &...,Railtrain Pty Ltd,2019-03-13,NaN,NaN,NaN,NaN,On the back of significant growth in the Pilba...,NaN,120000,150000,NaN
318458,38559973,Director Mechanical Services,ENGIE Services Australia & New Zealand Holding...,2019-03-13,NaN,NaN,NaN,NaN,Lead & manage business operations in this pivo...,NaN,150000,200000,NaN
318459,38535092,EA to CEO - Not your traditional support role.,Qudos Recruitment Pty Ltd,2019-03-08,NaN,NaN,NaN,NaN,Rare opportunity to work for one of our most b...,NaN,150000,200000,NaN
318460,38559951,Director Mechanical Services,ENGIE Services Australia & New Zealand Holding...,2019-03-13,NaN,NaN,NaN,NaN,Lead & manage business operations in this pivo...,NaN,150000,200000,NaN
318461,38557114,"Head of Brand Strategy, Research and Insights",Amaysim Operations Pty Ltd,2019-03-13,NaN,NaN,NaN,NaN,"Head of Brand Strategy, Research and Insights ...",NaN,150000,200000,NaN
318462,38548318,General Manager ANZ,TE Connectivity Australia Pty Ltd,2019-03-12,NaN,NaN,NaN,NaN,Lead a team of dedicated professionals who are...,NaN,150000,200000,NaN
318463,38557250,Head of Risk,Pacific Search Partners,2019-03-13,NaN,NaN,NaN,NaN,An outstanding opportunity to lead the Risk fu...,NaN,150000,200000,NaN
318464,38546643,Hospitality workers!!! Love talking and travel...,Wow Recruitment,2019-03-11,NaN,NaN,NaN,NaN,Transfer your Customer Service skills and chal...,NaN,150000,200000,NaN
318465,38529212,GM Sales & Commercial,Six Degrees Executive Pty Ltd,2019-03-08,NaN,NaN,NaN,NaN,The Australian Grand Prix Corporation delivers...,NaN,150000,200000,NaN
318466,38550628,Financial Controller: $150k + Super,Reo Group,2019-03-12,NaN,NaN,NaN,NaN,Group subsidiary seeks a hands-on Financial Co...,NaN,150000,200000,NaN
318467,38551841,Account Manager,Babcock Pty Ltd,2019-03-12,NaN,NaN,NaN,NaN,Babcock are currently seeking a senior level A...,NaN,150000,200000,NaN
318468,38560638,Chief Human Resources Officer,Department of Premier & Cabinet,2019-03-13,NaN,NaN,NaN,NaN,Join DPCs People and Culture branch as the Chi...,NaN,150000,200000,NaN
318469,38537074,General Manager - Port Hedland,Bruce Rock Engineering,2019-03-08,NaN,NaN,NaN,NaN,The General Manager will be accountable to enh...,NaN,200000,NaN,NaN
318470,38543176,"General Manager, Transformation (PMO) c$270,00...",Perigon Group Pty Limited,2019-03-11,NaN,NaN,NaN,NaN,High profile role managing major projects to ...,NaN,200000,NaN,NaN
318471,38558448,"Film Extras, Models, Actors of All Ages For Le...",Roseys Model Management,2019-03-13,NaN,NaN,NaN,NaN,CASTING new TV shows & Films now call us we ne...,NaN,200000,NaN,NaN
318472,38564891,Program Manager - Trade Reporting,Talenza,2019-03-13,NaN,NaN,NaN,NaN,Our client is a large Financial Services firm ...,NaN,200000,NaN,NaN
318473,38564940,Web Content Writer - June 2019 contract,Talent – Winner ‘Seek Large Recruitment Agency...,2019-03-13,NaN,NaN,NaN,NaN,You will be able to write clearly and concisel...,NaN,200000,NaN,NaN
318474,38552964,Brand Director - Global Premium Brand,Retail Career Consulting Pty Ltd,2019-03-12,NaN,NaN,NaN,NaN,Newly created Brand Director AUS. Must be comm...,NaN,200000,NaN,NaN
318475,38534438,"Head of Financial Planning, Reporting & Strategy",Moir Group,2019-03-08,NaN,NaN,NaN,NaN,High-quality manufacturing organisation. Excit...,NaN,200000,NaN,NaN
318476,38561751,Head of Operations - EOI,Austcorp Executive,2019-03-13,NaN,NaN,NaN,NaN,Expressions of interest for a leadership role,NaN,200000,NaN,NaN

## Part 2 - Data Analysis and Interpretation

## Part 3 - Evaluation