# Assignment 1: Job Market Analysis

## Part 1 - Data Preperation and Preprocesing

In [2]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [4]:
# Importing data
df = pd.read_csv("data.csv", low_memory=False)

In [3]:
# Display head of the data
df.head(30)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
1,37404337,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN
2,37404356,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0,30,NaN
3,37404330,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0,30,NaN
4,37404308,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
5,37404307,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0,30,NaN
6,37404355,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07T00:00:00.000Z,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0,30,NaN
7,37404350,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0,30,NaN
8,37404301,Telemarketer,Reventon Investments,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0,30,NaN
9,37404286,Casual Dish Hand in Brighton,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0,30,NaN
10,37404333,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07T00:00:00.000Z,Adelaide,NaN,Banking & Financial Services,Banking - Retail/Branch,We currently have an exciting part-time opport...,NaN,0,30,NaN
11,37404235,Customer Service Client Nurturer,NaN,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Customer Service - Customer Facing,"Immediate start - We love our clients, it's yo...",NaN,0,30,NaN
12,37404341,Functions Supervisor - Perth Zoo,Mustard Catering,2018-10-07T00:00:00.000Z,Perth,NaN,Hospitality & Tourism,Bar & Beverage Staff,Casual Food and Beverage Supervisor,NaN,0,30,NaN
13,37404335,BPV_Utility All Rounders_Casual,ISS Facility Services,2018-10-07T00:00:00.000Z,Mackay & Coalfields,NaN,Hospitality & Tourism,Housekeeping,An exciting opportunity exists for Casual DIDO...,NaN,0,30,NaN
14,37404250,Casual Cleaner in Kew,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,Eastern Suburbs,Hospitality & Tourism,Housekeeping,A restaurant in Kew is seeking a casual Cleane...,NaN,0,30,NaN
15,37404259,Customer Service Officer,NaN,2018-10-07T00:00:00.000Z,Sunshine Coast,NaN,Call Centre & Customer Service,Customer Service - Call Centre,An opportunity for a customer service-focused ...,NaN,0,30,NaN
16,37404332,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07T00:00:00.000Z,Adelaide,NaN,Retail & Consumer Products,Retail Assistants,We currently have an exciting part-time opport...,NaN,0,30,NaN
17,37404280,Maintenance Assistant Part-Time,Costco Wholesale,2018-10-07T00:00:00.000Z,Melbourne,Eastern Suburbs,Retail & Consumer Products,Other,Provides janitorial services and general maint...,NaN,0,30,NaN
18,37404266,Telstra Retail Sales & Service Consultant - Ca...,TLS Airport West,2018-10-07T00:00:00.000Z,Melbourne,Western Suburbs,Retail & Consumer Products,Retail Assistants,A great opportunity to join the retail team at...,NaN,0,30,NaN
19,37404247,Assembler,Zoom Recruitment & Training,2018-10-07T00:00:00.000Z,Sydney,Parramatta & Western Suburbs,"Manufacturing, Transport & Logistics",Assembly & Process Work,"Our Client, located in Sydney West, has roles ...",NaN,0,30,NaN
20,37404300,Procurement Officer,Perspective Recruitment,2018-10-07T00:00:00.000Z,Melbourne,Northern Suburbs,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",The role would be ideal for one that has a nat...,NaN,0,30,NaN
21,37404239,Casual Barista in Murarrie,Jora Local,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Bar & Beverage Staff,A cafe in Murarrie is seeking a casual Barista...,NaN,0,30,NaN
22,37404346,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07T00:00:00.000Z,Adelaide,NaN,Banking & Financial Services,Banking - Retail/Branch,We currently have an exciting full time opport...,NaN,0,30,NaN
23,37404221,Casual Barista in Richmond,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Hospitality & Tourism,Bar & Beverage Staff,A cafe in Richmond is seeking a casual Barista...,NaN,0,30,NaN
24,37404334,Sales and Service Banking Consultant,Hays Talent Solutions,2018-10-07T00:00:00.000Z,Adelaide,NaN,Sales,Sales Representatives/Consultants,We currently have an exciting part-time opport...,NaN,0,30,NaN
25,37404209,Casual Cook in Palm Beach,Jora Local,2018-10-07T00:00:00.000Z,Gold Coast,NaN,Hospitality & Tourism,Chefs/Cooks,A cafe/restaurant in Palm Beach is seeking a c...,NaN,0,30,NaN
26,37404396,Clinical Document Processing and Quality Assur...,West Moreton Hospital and Health Service,2018-10-07T00:00:00.000Z,Brisbane,Western Suburbs & Ipswich,Administration & Office Support,Records Management & Document Control,administrative and systems support in relation...,NaN,0,30,NaN
27,37404311,Investment Accountant - NAB Asset Servicing,National Australia Bank,2018-10-07T00:00:00.000Z,Sydney,"CBD, Inner West & Eastern Suburbs",Banking & Financial Services,Analysis & Reporting,Entry level opportunity in Investment Accounti...,NaN,0,30,NaN
28,37404175,Casual Cook in Melbourne,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Hospitality & Tourism,Chefs/Cooks,A business in Melbourne is seeking a casual Co...,NaN,0,30,NaN
29,37404198,Office Administrator - 4 days per week,Accountancy Connect,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Administration & Office Support,Office Management,Wonderful role based in Cheltenham. Four days ...,NaN,0,30,NaN

In [4]:
# Display the shape of the dataset
print("DataFrame shape:\n")
print(df.shape)

DataFrame shape:

(318477, 13)

In [5]:
# Display the datatypes of each column
print("Column datatypes:\n")
print(df.dtypes)

Column datatypes:

Id                   object
Title                object
Company              object
Date                 object
Location             object
Area                 object
Classification       object
SubClassification    object
Requirement          object
FullDescription      object
LowestSalary          int64
HighestSalary         int64
JobType              object
dtype: object

In [6]:
# Check for null values and display them
print("NULL values:\n")
print(df.isnull().sum())

NULL values:

Id                        0
Title                     0
Company               12004
Date                      0
Location             121248
Area                 195819
Classification       121248
SubClassification    121248
Requirement               7
FullDescription       16175
LowestSalary              0
HighestSalary             0
JobType               16098
dtype: int64

In [7]:
# Simplifying date datatype
print("Change date datatype:\n")

print("Original:")
print(df['Date'][0],"\n")

# Changing date datatype
df['Date'] = df['Date'].astype('datetime64[ns]')

print("New:")
print(df['Date'][0])

Change date datatype:

Original:
2018-10-07T00:00:00.000Z

New:
2018-10-07 00:00:00

In [8]:
# Seems like removing the IDs reveals a bunch of duplicate data so I've just commented this out for now.
""""
# Changing ID datatype

# Some IDs have not been entered correctly, eg: '37915260&searchrequesttoken=e859cc74-e22f-498d-ac7c-77a7e1b45676'
# Need to trim the first 8 characters before converting to int

df['Id'] = df['Id'].str[:8].astype('int64')
"""

'"\n# Changing ID datatype\n\n# Some IDs have not been entered correctly, eg: \'37915260&searchrequesttoken=e859cc74-e22f-498d-ac7c-77a7e1b45676\'\n# Need to trim the first 8 characters before converting to int\n\ndf[\'Id\'] = df[\'Id\'].str[:8].astype(\'int64\')\n'

In [9]:
# Remove the Id and FullDescription column
df = df.drop('Id', axis=1)
df = df.drop('FullDescription', axis=1)

In [10]:
# Removing duplicate data
print("Removing Duplicates:\n")

# Check for duplicates
print("No. of duplicates:", df[df.duplicated()].shape[0], "(before)")

# Remove duplicates:
df.drop_duplicates(inplace=True)

# Re-check for duplicates
print("No. of duplicates:", df[df.duplicated()].shape[0], "(after)")

Removing Duplicates:

No. of duplicates: 9991 (before)
No. of duplicates: 0 (after)

In [11]:
# How many jobs do we have in total?
total_jobs = df.shape[0]

# How many jobs have lowest salary equal to $0?
lowest_size = df[(df['LowestSalary'] == 0)].shape[0]

# How many jobs have highest salary equal to $999k?
highest_size = df[(df['HighestSalary'] == 999)].shape[0]

# How many jobs have both the highest and lowest salary ($0k - $999k)
both_size = df[(df['HighestSalary'] == 999) & (df['LowestSalary'] == 0)].shape[0]

print("Total jobs:", total_jobs, "\n")
      
print("Lowest $0 jobs: %d" % lowest_size)
print("(%.2f%% of jobs)\n" % (lowest_size / total_jobs * 100))
      
print("Highest $999k jobs: %d" % highest_size)
print("(%.2f%% of jobs)\n" % (highest_size / total_jobs * 100))

print("Both Lowest $0 and Highest $999k jobs: %d" % both_size)
print("(%.2f%% of jobs)" % (both_size / total_jobs * 100))

Total jobs: 308486

Lowest $0 jobs: 60840
(19.72% of jobs)

Highest $999k jobs: 11027
(3.57% of jobs)

Both Lowest $0 and Highest $999k jobs: 0
(0.00% of jobs)

<font color='purple'><b>NOTE: Bit confused about why we convert 0k and 999k salaries to NaN.</b>      
I get that nobody could have a salary of 0k, but not really sure what we should be changing it to? There are 10,000+ entries that have a HighestSalary of 999k which might be normal given we have 300,000+ entries which is only 3% of them.</font>


<font color='purple'><b>NOTE: Not sure if it's going to cause problems but we seem to be getting NA values instead of NaN values when setting type as Int64</b>     
It seems when we convert the Highest and Lowest salary back into Int64 it gives us an NA value for all the NaN values. I tried fixing it by only applying the type update to notnull values but then it did some weird stuff and they all became float values. Also tried replacing the pd.NA valuyes with np.nan values but this didn't do anything either.</font>

In [12]:
# Just commented this out because I was a bit confused about it.
# The next cell I made tries to do somthing similar I think.
"""

# Change 'lowest salaries' that are 0 to NaN and 'highest salaries' that are 999 to NaN
df['LowestSalary'].replace({0: np.nan}, inplace=True)
df['HighestSalary'].replace({999: np.nan}, inplace=True)

# Multiply salary by 1000 because it is represented as 1 = 1k
df['LowestSalary'] = df['LowestSalary'] * 1000
df['HighestSalary'] = df['HighestSalary'] * 1000

# Convert columns back to numpy ints to account for the NaN values
df['LowestSalary'] = df['LowestSalary'].astype('Int64')
df['HighestSalary'] = df['HighestSalary'].astype('Int64')

# Trying to fix the <NA> problem
#df.loc[df['LowestSalary'].notnull(), 'LowestSalary'].astype('Int64')
#df.loc[df['HighestSalary'].notnull(), 'HighestSalary'].astype('Int64')

# df['LowestSalary'].replace(pd.NA, np.nan, inplace=True)
# df['HighestSalary'].replace(pd.NA, np.nan, inplace=True)

"""

"\n\n# Change 'lowest salaries' that are 0 to NaN and 'highest salaries' that are 999 to NaN\ndf['LowestSalary'].replace({0: np.nan}, inplace=True)\ndf['HighestSalary'].replace({999: np.nan}, inplace=True)\n\n# Multiply salary by 1000 because it is represented as 1 = 1k\ndf['LowestSalary'] = df['LowestSalary'] * 1000\ndf['HighestSalary'] = df['HighestSalary'] * 1000\n\n# Convert columns back to numpy ints to account for the NaN values\ndf['LowestSalary'] = df['LowestSalary'].astype('Int64')\ndf['HighestSalary'] = df['HighestSalary'].astype('Int64')\n\n# Trying to fix the <NA> problem\n#df.loc[df['LowestSalary'].notnull(), 'LowestSalary'].astype('Int64')\n#df.loc[df['HighestSalary'].notnull(), 'HighestSalary'].astype('Int64')\n\n# df['LowestSalary'].replace(pd.NA, np.nan, inplace=True)\n# df['HighestSalary'].replace(pd.NA, np.nan, inplace=True)\n\n"

In [13]:
# Creating column for average salary - (maybe useful not sure)

df.loc[df['LowestSalary'] == 0, 'LowestSalary'] = 10
# It would be a fair assumption that no salary is lower than $10,000 per year
# This reference says the lowest average is about $12,400 in Australia
# http://www.salaryexplorer.com/salary-survey.php?loc=13&loctype=1

# Create row for average salary (Mean of Lowest and Highest salary)
df['AvgSalary'] = (df['LowestSalary'] + df['HighestSalary']) / 2

# Multiply our salaries by 1000 (1 = 1k so we want 1 = 1000)
df['LowestSalary'] = df['LowestSalary'] * 1000
df['HighestSalary'] = df['HighestSalary'] * 1000
df['AvgSalary'] = df['AvgSalary'] * 1000

# Convert our AvgSalary from float -> int
df['AvgSalary'] = df['AvgSalary'].astype('Int64')

In [14]:
# See our new column
df.head(7)

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,LowestSalary,HighestSalary,JobType,AvgSalary
0,Casual Stock Replenisher,Aldi Stores,2018-10-07,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,10000,30000,NaN,20000
1,Casual Stock Replenisher,Aldi Stores,2018-10-07,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,10000,30000,NaN,20000
2,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,10000,30000,NaN,20000
3,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,10000,30000,NaN,20000
4,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",10000,30000,NaN,20000
5,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",10000,30000,NaN,20000
6,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,10000,30000,NaN,20000

In [15]:
# Remove area from titles and move to the area column
print("Number of Titles containing Area:", df['Title'].str.contains(' in ').sum())

df.loc[df['Area'].isnull(), 'Area'] = df['Title'].str.split(' in ').str[1]
df.loc[df['Title'].str.contains(' in '), 'Title'] = df['Title'].str.split(' in ').str[0]

print("Number of Titles containing Area:", df['Title'].str.contains(' in ').sum())

Number of Titles containing Area: 12093
Number of Titles containing Area: 0

In [16]:
# move JobType column up the dataframe so that all the salaries are together
cols = list(df)
cols.insert(8, cols.pop(cols.index('JobType')))
df = df.loc[:, cols]
df.head()

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,JobType,LowestSalary,HighestSalary,AvgSalary
0,Casual Stock Replenisher,Aldi Stores,2018-10-07,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,10000,30000,20000
1,Casual Stock Replenisher,Aldi Stores,2018-10-07,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,10000,30000,20000
2,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,10000,30000,20000
3,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,10000,30000,20000
4,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,10000,30000,20000

In [17]:
# We don't need to run this code here BUT we will filter out NaN values when we are analysing a specific factor
# e.g. When we are looking at Location, we can remove all the NaN location values just for that.

"""
df = df.dropna(subset='Location', axis = 0, how ='any')
"""

"\ndf = df.dropna(subset='Location', axis = 0, how ='any')\n"

In [18]:
# Normalising the data
df_norm = df # Create a copy of the DataFrame that will be using normalized values

columns_to_normalize = ['LowestSalary','HighestSalary','AvgSalary'] # Normalize our columns with int values

scaler = StandardScaler() # Declare the standard scaler for normalizing
df_norm[columns_to_normalize] = scaler.fit_transform(df_norm[columns_to_normalize]) # Fit and transform our data

In [19]:
# See our new normalized data
df_norm

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,JobType,LowestSalary,HighestSalary,AvgSalary
0,Casual Stock Replenisher,Aldi Stores,2018-10-07,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,-1.182472,-0.472942,-0.654908
1,Casual Stock Replenisher,Aldi Stores,2018-10-07,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,-1.182472,-0.472942,-0.654908
2,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,-1.182472,-0.472942,-0.654908
3,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,-1.182472,-0.472942,-0.654908
4,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,-1.182472,-0.472942,-0.654908
...,...,...,...,...,...,...,...,...,...,...,...,...
318472,Program Manager - Trade Reporting,Talenza,2019-03-13,NaN,NaN,NaN,NaN,Our client is a large Financial Services firm ...,NaN,2.730323,4.987743,4.715280
318473,Web Content Writer - June 2019 contract,Talent – Winner ‘Seek Large Recruitment Agency...,2019-03-13,NaN,NaN,NaN,NaN,You will be able to write clearly and concisel...,NaN,2.730323,4.987743,4.715280
318474,Brand Director - Global Premium Brand,Retail Career Consulting Pty Ltd,2019-03-12,NaN,NaN,NaN,NaN,Newly created Brand Director AUS. Must be comm...,NaN,2.730323,4.987743,4.715280
318475,"Head of Financial Planning, Reporting & Strategy",Moir Group,2019-03-08,NaN,NaN,NaN,NaN,High-quality manufacturing organisation. Excit...,NaN,2.730323,4.987743,4.715280
318476,Head of Operations - EOI,Austcorp Executive,2019-03-13,NaN,NaN,NaN,NaN,Expressions of interest for a leadership role,NaN,2.730323,4.987743,4.715280

### Dataset overview
○ What are the categories/domains of the dataset?  
○ What is the dataset size of each variation?  
○ What is dataset structure/format?  
○ What are attributes/features of review data you are going to use?  
○ What are attributes/features of product data you are going to use?  
○ Which parts of the dataset will you use or all of them?  

### Data preperation and preprosessing

How did you load, noramlize and clean the data?

### Hypothesis

What do we expect will be the outcome of our analysis?

## Part 2 - Data Analysis and Interpretation

## Part 3 - Evaluation